.main-container{
  width:80%;
 

margin:10px auto;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* grid-template-columns: auto auto; */

}
.main-container >div{
width:50%;
margin:10px;
border:1px solid black;
border-radius: 5px;
padding:10px;
}


 .container-right{
  padding:40px !important; 
  /* background-color: blue;  */
 }
p{
  font-size:18px;
}
span{
  font-size:18px;
  font-weight: bold;

}