.main-container{
  width:80%;
  height:100%;
  /* border:4px solid black; */
margin:auto;
  display:flex;
  flex-wrap: nowrap;
  /* grid-template-columns: auto auto; */

}
.container-left{
  
  /* border:1px solid red; */
  width:50%;

}
.container-right{
  width: 50%;
  /* border:1px solid green; */
  
}
