
body{
  background:#EEEEEE;
}
.main-container{
  width:80%;
height:100wh; 

margin:10px auto;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
background-color: #CFD8DC;
  /* grid-template-columns: auto auto; */

}
.main-container >div{
width:50%;
margin:10px;
border:1px solid black;
border-radius: 5px;
padding:10px;
}


 .container-right{
  padding:80px !important;
  
  /* background-color: blue;  */
 }
p{
  font-size:18px;
  /* color:white */
}
span{
  font-size:18px;
  font-weight: bold;

}